from datetime import timedelta

COGNITO_POOL_ID = ''
COGNITO_CLIENT_ID = ''
AWS_ACCESS_KEY = ''
AWS_SECRET_KEY = ''
AWS_REGION = ''
JWT_TOKEN_LOCATION = 'cookies'
JWT_SECRET_KEY = 'really-secret'
JWT_ACCESS_TOKEN_EXPIRES = timedelta(minutes=20)
JWT_REFRESH_TOKEN_EXPIRES = timedelta(days=30)
JWT_ACCESS_CSRF_COOKIE_NAME = 'XSRF_TOKEN'
JWT_ACCESS_CSRF_HEADER_NAME = 'X-XSRF-TOKEN'
SQLALCHEMY_DATABASE_URI = 'sqlite:///test.db'
